// Rem output with px fallback
@mixin font-size( $sizeValue: 1 ) {
	font-size: ( $sizeValue * $font-size-base );
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin hover2remember() {
	-webkit-filter:sepia(50%);
	-moz-filter:sepia(50%);
	-o-filter:sepia(50%);
	-ms-filter:sepia(50%);
	filter: sepia(50%);
	transition: .5s;
	-webkit-transition: .5s;
	&:hover {
		-webkit-filter:sepia(0);
		-moz-filter:sepia(0);
		-o-filter:sepia(0);
		-ms-filter:sepia(0);
		filter: sepia(0);
	}
}
