h1, h2, h3, h4, h5, h6, p.site-title {
	clear: both;
	// font-family: $font__header;
	// font-weight: 100;
}
.site-header {
    margin-bottom: 30px;
}
h1.site-title,
p.site-title {
	font-size: 32px;
	margin-top: 20px;
    margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

header.page-header {
	/* overwrite Bootstrap */
	border-bottom: none;
	margin-bottom: 0;
}

.archived-posts-num {
	margin-left: .5em;
	font-size: .75em;
	&:before {
		content: '(';
	}
	&:after {
		content: ')';
	}
}
