.site-header {
    margin-bottom: 30px;
}
.site-title {
	font-size: 48px;
	margin-top: 20px;
    margin-bottom: 10px;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
	a:hover {
		border: none;
	}
}

.page-header {
	/* overwrite Bootstrap */
	border-bottom: none;
	margin-bottom: 0;
}

.archived-posts-num {
	margin-left: .5em;
	font-size: 1em;
	&:before {
		content: '(';
	}
	&:after {
		content: ')';
	}
}
