.widget_calendar {
	// padding: auto;
	margin: 1em;
	td, tr {
		text-align: center;
	}
}

.widget_categories {
	ul {
		list-style: none;
		li {
			display: inline;
				&+li:before {
				content: "/";
				}
			}
		}
}

.widget {
	margin: 2em 1em 3em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	ul {
		padding-left: 0;
	}
}
