#content,
#sidebar,
#colophon {
	max-width: 860px;
	padding: 1em;
	margin: auto;
}

#site-branding {
	margin: 0 1em 1em;
	display: block;
	position: absolute;
	.site-title, .site-description {
		display: inline;
	}
}

#header-belt {
	display: none;
	box-shadow: 0 0px 3px 1px rgba(0,0,0,.2);
	@include hover2remember();
}

body.home #header-belt{
	max-height: 300px;
	display: block;
}

#secondary {
	padding-top: 1em;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}


// fallback for customizer
#secondary {
	background-color: #d4ecee;
}
