.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		&:before {
			content: '\f430';
			font-family:'Genericons';
			@include font-size(1.5);
			vertical-align: -5px;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		&:after {
			content: '\f429';
			font-family:'Genericons';
			@include font-size(1.5);
			vertical-align: -5px;
		}
	}
}

//show only SNS icons
.SNS-list {

	a:before {
		content: '\f107';
		@include font-size(2);
		font-family:'Genericons';
	}

	$url-genericons: (
		"codepen.io":      "\f216",
		"digg.com":        "\f221",
		"dribbble.com":    "\f201",
		"dropbox.com":     "\f225",
		"facebook.com":    "\f203",
		"flickr.com":      "\f211",
		"foursquare.com":  "\f226",
		"plus.google.com": "\f206",
		"github.com":      "\f200",
		"instagram.com":   "\f215",
		"linkedin.com":    "\f208",
		"path.com":        "\f219",
		"pinterest.com":   "\f210",
		"getpocket.com":   "\f224",
		"polldaddy.com":   "\f217",
		"reddit.com":      "\f222",
		"skype.com":       "\f220",
		"stumbleupon.com": "\f223",
		"tumblr.com":      "\f214",
		"twitter.com":     "\f202",
		"vimeo.com":       "\f212",
		"wordpress.com":   "\f205",
		"wordpress.org":   "\f205",
		"youtube.com":     "\f213",
		"spotify.com":     "\f515",
		"twitch.tv":       "\f516",
	);

	@each $url, $genericon in $url-genericons {
		a[href*="#{$url}"]:before {
			content: "#{$genericon}";
		}
	}
	a[href$="/feed/"]:before {
		content: "\f413";
	}
	a[href^="mailto:"]:before {
		content: "\f410";
	}
}

.container--toggle-menu {
	display: block;
}

.toggle-menu {
	@media screen and (min-width: $break-width1) {
		display: none;
	}
	padding: 1em;
	&:before {
		content: "\f419";
		font-family: 'Genericons';
	}
}

.collapsed{
	display: none;
}
