.sticky {
	display: block;
}

.hentry,
section.error-404 {
	margin: 1em;
	padding: 2em 0;
	border-top: solid 1px #ddd;
	&:last-child {
		border-bottom: solid 1px #ddd;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 5em 0 3em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	margin: 1em;
	.glyphicon {
		font-size: 21px;
		opacity: .8;
	}
	dd.post-date-time,
	dd.author,
	a.post-edit-link {
		display: inline;
		margin-left: .5em;
		font-size: 18px;
	}
}

.entry-title,
.page-title,
.widget-title {
	margin-top: 10px;
	font-size: 36px;
}

.entry-content {
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
		font-weight: bold;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 21px;
		text-decoration: underline;
	}
	h6 {
		font-size: 21px;
	}
	table {
		thead tr, tfoot tr {
			border-top:2px solid #666;
			border-bottom:2px solid #666;
		}
		tbody tr {
			&:first-child {
				border-top:2px solid #666;
			}
			border-bottom: 1px solid #666;
			&:last-child {
				border-bottom:2px solid #666;
			}
		}
	}
	ul, ol {
		padding: 0;
	}
}

.entry-summary {
	font-size: 21px;
}

.entry-footer {
	font-size: 18px;
	color: #666;
	dl,
	dd {
		display: inline;
		margin: 0;
	}
	ul.taxonomy-list {
		margin-left: 0;
		padding-left: 0;
	}
}
