.sticky {
	display: block;
}

.hentry,
section.error-404 {
	margin: 1em;
	padding: 3em 0 3em;
	border-top: solid 1px #ddd;
	&:last-child {
		border-bottom: solid 1px #ddd;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	margin: 1em;
	.glyphicon {
		font-size: 14px;
		opacity: .8;
	}
	dd.post-date-time,
	dd.author,
	a.post-edit-link {
		display: inline;
		margin-left: .5em;
		font-size: 12px;
	}
}

.entry-title,
.page-title,
.widget-title {
	margin-top: 10px;
	font-size: 24px;
}

.entry-content {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
		font-weight: bold;
	}
	h4, h5, h6 {
		font-size: 14px;
	}
	font-size: 14px;
}

.entry-summary {
	font-size: 14px;
}

.entry-footer {
	font-size: 12px;
	dl,
	dd {
		display: inline;
		margin: 0;
	}
	ul.taxonomy-list {
		margin-left: 0;
		padding-left: 0;
	}
}
