.sticky {
	display: block;
}

.hentry,
.error-404 {
	margin: 1em;
	padding: 2em 0;
	border-top: solid 1px #ddd;
	&:last-child {
		border-bottom: solid 1px #ddd;
	}
}

.updated:not(.published){
	display: none;
}

.posted-on {
	&:before {
		content: '\f303';
		font-family: 'Genericons';
	}
}
.posted-by {
	&:before {
		content: '\f304';
		font-family: 'Genericons';
	}
}
.edit-link {
	&:before {
		content: '\f445';
		font-family: 'Genericons';
	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 5em 0 3em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.taxonomy-list {
	margin-left: 0;
	padding-left: 0;
}
